@charset "UTF-8";
*{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


main {
margin: auto;
font: normal 1em serif;
background-color: rgb(181, 255, 255);
padding: 8px;
box-shadow: 4px 4px 15px rgb(86, 121, 121);
border-radius: 10px;
width: 800px;
}

h1 {
text-align: center;
text-shadow: 3px 2px 6px rgb(102, 146, 140);
color: rgb(18, 89, 99);
}

h2 {
text-align: justify;


}

p {
text-align: justify;
color: rgb(90, 90, 90);
text-shadow: 1px 1px 7px ;
}